html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Roboto, sans-serif;        
    font-size: 16px;
    line-height: 20px;
    background-color: #ebeff2;
    user-select: none;   
}

.timeline-2 {    
  border-left: 2px solid #98a6ad;
  position: relative; }
  .timeline-2 .time-item:after {
    background-color: #ffffff;
    border-color: #98a6ad;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    bottom: 0;
    content: '';
    height: 14px;
    left: 0;
    margin-left: -8px;
    position: absolute;
    top: 5px;
    width: 14px; }

.time-item {
  border-color: #dee5e7;
  padding-bottom: 1px;
  position: relative; }
  .time-item:before {
    content: " ";
    display: table; }
  .time-item:after {
    background-color: #ffffff;
    border-color: #98a6ad;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    bottom: 0;
    content: '';
    height: 14px;
    left: 0;
    margin-left: -8px;
    position: absolute;
    top: 5px;
    width: 14px; }

.time-item-item:after {
  content: " ";
  display: table; }

.item-info {
  margin-bottom: 15px;
  margin-left: 15px; }
  .item-info p {
    margin-bottom: 10px !important; }

/* BOOTSTRAP MODIFICATIONS */

.btn {
    font-size: 16px;
}

.full-width .container {
    width: 100%;
    padding: 0 40px;
}

.navbar {    
    margin-bottom: 0;    
}

.nav-tabs {
    font-family: 'Roboto', sans-serif !important;
    font-weight: lighter;
    font-size: 16px !important;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 28px !important;
    color: white !important;
    font-size: 22px;    
    vertical-align: middle;
    margin-right: 5px;
}

.loading-screen {
    padding: 20px;    
}

.title {
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}

.catalogue-tile-layout {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.catalogue-tile {
    margin-right: 5px;
    margin-bottom: 5px;    
    padding: 10px;
    width: 100px;
    height: 100px;
    background-color: orange;
    color: black;
    text-align: center;    
    border-radius: 3px;
    font-size: 16px;
    user-select: none;    
}

.catalogue-tile-content {
    height: 100%;    
    display: flex;    
    justify-content: center;
    align-items: center;
}

.catalogue-price {
    font-size: 14px;
    font-weight: lighter;
}

.receipt-row {
    height: 60px;    
}

.table tbody tr td {
    vertical-align: middle; 
}

.total-price {
    text-align: right;
    font-weight: bold;
    font-size: 24px;    
}

.col-right {
    text-align: right;            
}

.col-highlighted {
    font-weight: bold;
}

.full-width {
    width: 100%;
}

.jumbotron {
    padding: 20px;
    height: 2000px;
    margin-top: 20px;
}

Table th {
    font-size: 16px;    
}

tr {
    font-size: 16px;
    line-height: 60px;
}

.number-edit {
    width: 100px;
}

/* react-datepicker modifications */

.react-datepicker {
  font-size: 1.3rem !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.5rem !important;
}

/* react-big-calendar modifications */

.calendar-notime .rbc-time-column {
    width: 0 !important; 
    color: white;   
}

.rbc-time-view .rbc-row {
    min-height: 0px;
}

.rbc-time-view .rbc-row div:nth-child(1) {
    height: 0px !important;    
}

.day-calendar .rbc-time-header {
    height: 0 !important;
}

.day-calendar .rbc-today {
    background-color: white;
}

.rbc-time-view {
    border: none;
}

.rbc-time-content {
    border-top: 1px solid #DDD;
}

/** CSS animations */

.button-fade-enter {
    opacity: 0.01;    
}

.button-fade-enter.button-fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.button-fade-leave {
    opacity: 1;    
}

.button-fade-leave.button-fade-leave-active {
    opacity: 0.01;
    transition: opacity 300ms;
}

.page-enter {    
    transform: translate(100vw);    
}

.page-enter.page-enter-active {
    transform: translate(0%);
    transition: transform 500ms ease-in-out; 
}

.page-leave {    
    position: absolute;
    top: 40;
    left: 0;
    transform: translate(0%);
}

.page-leave.page-leave-active {
    transform: translate(-100vw);
    transition: transform 500ms ease-in-out;
}

.rev-page-enter {    
    transform: translate(-100vw);    
}

.rev-page-enter.rev-page-enter-active {
    transform: translate(0%);
    transition: transform 500ms ease-in-out; 
}

.rev-page-leave {    
    position: absolute;
    top: 40;
    left: 0;
    transform: translate(0%);
}

.rev-page-leave.rev-page-leave-active {
    transform: translate(100vw);
    transition: transform 500ms ease-in-out;
}

/* react-bootstrap-table modifications */

.react-bs-table td { outline: none !important; }

@-webkit-keyframes grow450 {   
    0% {width: 0;}
    100% {width: 450px;}
}

@keyframes grow450 {
    0% {width: 0;}
    100% {width: 450px;}
}

.grow450 {
   -webkit-animation: grow450 200ms linear;
   animation: grow450 200ms linear;
}

.col-hidden {
    display: none;
}

.labels {
    display: none;
}